---
layout: default
---

<div class="home">
  <h1 class="page-heading"><b>Peng Shen(沈 鵬)</b></h1>
  <ul class="post-list">
    <li>
      I am a researcher at NICT, Kyoto, Japan, on automatic speech recognition, deep learning technology, spoken language identification, speaker recognition, event detection, etc.
      I have four years full-time system development experience as a system engineer.
    </li>
  </ul>
 
  <h1 class="page-heading"><b>Research interest</b></h1>
  <ul class="post-list">
    <li>
      Automatic speech recognition, signal processing, and machine learning (deep learning) related to image processing, data analysis and natural language processing.
    </li>
  </ul>    

  <h1 class="page-heading"><b>Work experiences</b></h1>
  <ul class="post-list">
    <li>
   2014-Present: Researcher at National Institute of Information and Communications Technology (NICT). <br>
   2004-2007: Information Management Engineer at Lenovo Group, China. <br>
   2007-2013: MA, Ph. D. in , at Electronics and Information system Engineering, Gifu University, Japan. <br>
    </li>
  </ul>    
  
  


  
  <h1 class="page-heading">New Posts</h1>
  
  {{ content }}


    {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}"><font size="4">{{ post.title | escape }}</font></a>
    {% endfor %}


  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
