---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recommendation</h1>
  <ul class="post-list">
    <li>
      <h2><a href="/category/gan-tutorial.html" style="text-decoration: none;">NIPS2016 GAN Tutorial (中文翻译)</a></h2>
      此内容是Ian Goodfellow在NIPS2016大会上的Tutorial内容的中文版本。 此内容仅供学习参考使用， 有什么错误和问题，欢迎反馈指正。
    </li>
  </ul>
  
  
  <h1 class="page-heading">Posts</h1>
  
  {{ content }}


    {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}"><font size="4">{{ post.title | escape }}</font></a>
    {% endfor %}


  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
