---
layout: default
---
<h1>{{ page.title }}</h1>
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2>            
            {{ post.title }}
        </h2>
    </a>
    <p class="post-meta">
      Posted by 
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}
